<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center header-transparent">
  <div class="container d-flex align-items-center justify-content-between">

    <div class="logo">
      <!-- <h1><a href="index.html"><span>Bootslander</span></a></h1> -->
      <h1><a href="index.html"><span>CSI SAC</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto " href="/">Home</a></li>
        <li><a class="nav-link scrollto active" href="/login">Login</a></li>

        <!-- <li><a class="nav-link scrollto" href="#pricing">Pricing</a></li> 
                    <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="#">Drop Down 1</a></li>
                            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="#">Deep Drop Down 1</a></li>
                                    <li><a href="#">Deep Drop Down 2</a></li>
                                    <li><a href="#">Deep Drop Down 3</a></li>
                                    <li><a href="#">Deep Drop Down 4</a></li>
                                    <li><a href="#">Deep Drop Down 5</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Drop Down 2</a></li>
                            <li><a href="#">Drop Down 3</a></li>
                            <li><a href="#">Drop Down 4</a></li>
                        </ul>
                    </li>-->

      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->

  </div>
</header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">

  <div class="container">
    <div class="row justify-content-between">

      <div class="col-md-7 mx-auto ">
        <div data-aos="zoom-out">
          <h1><span> Computer Society of India SAC</span></h1>
          <h2>Trivandrum Chapter</h2>
        </div>
      </div>
      <div class="col-md-5 mx-auto">
        <div class="card carda">

          <div class=" card-body">
            <h3 class="card-title mt-3 text-center cardt "><span>Admin Login</span></h3>
            <form id="submitForm" action="/loginreq" method="POST" enctype="application/x-www-form-urlencoded">
              {{#if loginErr}}
              <div class="alert alert-danger alert-dismissible fade show mt-3" style="border-radius: 10px" role="alert">
                <strong>Alert!</strong> Incorrect credentials
              </div>
              {{/if}}
              <div class="form-group required mt-3">
                <input type="text" class="form-control " style="border-radius: 10px" name="username">
              </div>
              <div class="form-group required mt-3">
                <input type="password" class="form-control " style="border-radius: 10px" name="password">
              </div>
              <div class="form-group pt-1 text-center">
                <button class="btn btn-primary btn-block mt-3 but" type="submit"> Log In </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
  <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28 " preserveAspectRatio="none">
    <defs>
      <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
    </defs>
    <g class="wave1">
      <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
    </g>
    <g class="wave2">
      <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
    </g>
    <g class="wave3">
      <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
    </g>
  </svg>
</section>
<!-- End Hero -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>
<div id="preloader"></div>